$bg-color: rgb(39, 44, 56);
$fg-color-dark: rgb(25, 29, 38);
$fg-color: rgb(31, 35, 45);
$text-color: rgb(159, 173, 189);
$dark-text-color: rgb(129,140,153);
$light-text-color: rgb(204, 218, 234);

.listing {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.background {
  background-color: $bg-color;
}

.foreground {
  background-color: $fg-color;
}

.foreground-dark {
  background-color: $fg-color-dark;
}

.text {
  color: $text-color;
}

.text-dark {
  color: $dark-text-color;
}

.text-light {
  color: $light-text-color;
}
